*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer__icon,
.footer__nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.footer__icon i{
    font-size: 50px;
    color:white ;
}

.footer__nav{
    color: white;
}

