<main>
    <section class="perfil">
        <img class="perfil__avatar"  src="../assets/imagenes-perfil/img/avatar.jpg">
        <h2 class="perfil__nombre">John Wick</h2>
        <h3 class="perfil__titulo">Asesino legendario</h3>
        <a class="perfil__boton" href="">Seguir</a>

        <div class="perfil--estadistica"> 
            <div class="estadistica__elemento">
                <h3 class="estadistica__elemento--numero">12K</h3>
                <span>Seguidores</span>
            </div>

            <div class="estadistica__elemento">
                <h3 class="estadistica__elemento--numero">1.7K</h3>
                <span>Siguiendo</span>
            </div>

            <div class="estadistica__elemento">
                <h3 class="estadistica__elemento--numero">40</h3>
                <span>Articulos</span>
            </div>
        </div>

        <div class="perfil__bio">
            <h2>Acerca de mi</h2>
            <h3>Asesino a sueldo y amante de los perros</h3>
        </div>

        <div class="perfil__ubicacion">
            <i class="fa-solid fa-location-dot"></i>
            <h2>Estados Unidos</h2>
            <h3>227km Cerca</h3>
        </div>

        
        <div class="perfil--galeria">
            <h2>Mis fotos</h2> 
            <img class="galeria__foto galeria__foto--1" src="../assets/imagenes-perfil/img/galeria1.jpg" alt="">
            <img class="galeria__foto galeria__foto--2" src="../assets/imagenes-perfil/img/galeria2.jpg" alt="">
            <img class="galeria__foto galeria__foto--3" src="../assets/imagenes-perfil/img/galeria3.jpg" alt="">
            <img class="galeria__foto galeria__foto--4" src="../assets/imagenes-perfil/img/galeria4.jpg" alt="">
        </div>
    </section>

    <section class="articulos">
        <div class="articulos__xbox">
        <h3>XBOX</h3>
        <h2><a href="https://news.microsoft.com/es-es/2024/07/23/call-of-duty-modern-warfare-iii-llegara-a-xbox-game-pass-el-24-de-julio/">Call of Duty®: Modern Warfare III llegará a Xbox Game Pass el 24 de julio</a></h2>
        <br>
        <p>Hoy, Xbox ha desvelado a través de Xbox Wire que Call of Duty®: Modern Warfare III llegará a Xbox Game Pass Ultimate, PC Game Pass y Xbox Game Pass para consola el 24 de julio, justo a tiempo para el lanzamiento de la Temporada 5.</p>
        </div>
        <hr>
        <br>

        <div class="articulos__playstation">
        <h3>PLAYSTATION</h3>
        <h2><a href="https://blog.latam.playstation.com/2024/07/23/la-actualizacion-mas-grande-de-helldivers-2-hasta-la-fecha-escalada-de-la-libertad-llegara-el-6-de-agosto/">La actualización más grande de Helldivers 2 hasta la fecha, Escalada de la Libertad llegará el 6 de agosto</a></h2>
        <br>
        <p>Nuevos enemigos, objetivos de misión, niveles de dificultad y más.</p>
        </div>
        <hr>
        <br>

        <div class="articulos__switch">
        <h3>SWITCH</h3>
        <h2><a href="https://www.nintendo.com/es-co/whatsnew/una-megactualizacion-para-los-suscriptores-de-nintendo-switch-online/">¡Una megactualización para los suscriptores de Nintendo Switch Online!</a></h2>
        <br>
        <p> Los suscriptores de Nintendo Switch Online obtienen acceso instantáneo a un gran catálogo de juegos de Game Boy™, Super NES™ y NES™, incluyendo clásicos como Kirby's Dream Land™, Super Mario World™, The Legend of Zelda™: A Link to the Past™ y Super Mario Bros.™ 3.</p>
        </div>
        <hr>
        <br>

    </section>
</main>

